.superevent-441 .superevent-element.superevent-element-33b5905 > .superevent-container {
	max-width: 1350px;
}
.superevent-441 .superevent-element.superevent-element-33b5905 {
	padding: 80px 0px 80px 0px;
}
.superevent-441 .superevent-element.superevent-element-530eb25 {
	text-align: center;
}
.superevent-441 .superevent-element.superevent-element-530eb25 .superevent-heading-title {
	color: #2190ed;
	font-weight: bold;
}
.superevent-441 .superevent-element.superevent-element-f0c958c .superevent-spacer-inner {
	height: 50px;
}
.superevent-441 .superevent-element.superevent-element-bc09ce7 > .superevent-widget-container > .jet-listing-grid > .jet-listing-grid__items {
	--columns: 1;
}
.superevent-441 .superevent-element.superevent-element-a45f90f > .superevent-container {
	max-width: 1280px;
}
.superevent-441 .superevent-element.superevent-element-a45f90f {
	margin-top: 0px;
	margin-bottom: 90px;
}
.superevent-441 .superevent-element.superevent-element-2893d1f {
	text-align: left;
}
.superevent-441 .superevent-element.superevent-element-2893d1f .superevent-heading-title {
	font-weight: bold;
}
.superevent-441 .superevent-element.superevent-element-7a38fe4 .jet-posts .jet-posts__item {
	max-width: calc(100% / 3);
}
.superevent-441 .superevent-element.superevent-element-7a38fe4 .jet-posts:not(.jet-equal-cols) .jet-posts__item {
	flex: 0 0 calc(100% / 3);
	-webkit-box-flex: 0;
	-ms-flex: 0 0 calc(100% / 3);
}
.superevent-441 .superevent-element.superevent-element-7a38fe4 .jet-posts .post-thumbnail {
	border-radius: 25px 25px 25px 25px;
}
.superevent-441 .superevent-element.superevent-element-7a38fe4 .jet-posts .jet-posts__inner-content {
	padding: 60px 0px 0px 0px;
}
.superevent-441 .superevent-element.superevent-element-7a38fe4 .jet-posts .entry-title,
.superevent-441 .superevent-element.superevent-element-7a38fe4 .jet-posts .entry-title a {
	font-weight: bold;
}
.superevent-441 .superevent-element.superevent-element-7a38fe4 .jet-posts .entry-title {
	text-align: left;
	margin: 0px 0px 40px 0px;
}
.superevent-441 .superevent-element.superevent-element-7a38fe4 .jet-posts .post-meta {
	text-align: left;
}
.superevent-441 .superevent-element.superevent-element-7a38fe4 .jet-posts .entry-excerpt {
	text-align: left;
}
.superevent-441 .superevent-element.superevent-element-7a38fe4 .jet-posts .jet-more {
	background-color: #ffffff00;
	color: #2190ed;
	text-decoration: none;
	padding: 20px 20px 20px 0px;
	align-self: flex-start;
}
.superevent-441 .superevent-element.superevent-element-7a38fe4 .jet-posts .jet-more {
	font-style: italic;
	text-decoration: underline;
}
.superevent-441 .superevent-element.superevent-element-7a38fe4 .jet-posts .jet-more:hover {
	text-decoration: none;
}
.superevent-441 .superevent-element.superevent-element-7a38fe4 .jet-posts .jet-posts__terms-link {
	font-weight: bold;
}
.superevent-441 .superevent-element.superevent-element-7a38fe4 .jet-posts .jet-posts__terms-link:hover {
	text-decoration: none;
}
.superevent-441 .superevent-element.superevent-element-7a38fe4 .jet-carousel .jet-slick-dots li {
	padding-left: 5px;
	padding-right: 5px;
}
.superevent-441 .superevent-element.superevent-element-7a38fe4 .jet-carousel .jet-slick-dots {
	justify-content: center;
}
.superevent-441 .superevent-element.superevent-element-7a38fe4 .jet-title-fields__item-label {
	margin-right: 5px;
}
.superevent-441 .superevent-element.superevent-element-7a38fe4 .jet-content-fields__item-label {
	margin-right: 5px;
}
.superevent-441 .superevent-element.superevent-element-47bd081 > .superevent-widget-container > .jet-listing-grid > .jet-listing-grid__items {
	--columns: 3;
}
.superevent-441 .superevent-element.superevent-element-5afceac .navigation.pagination .nav-links {
	justify-content: flex-start;
}
.superevent-441 .superevent-element.superevent-element-5afceac .navigation.pagination .nav-links a.page-numbers {
	color: #ffffff;
}
.superevent-441 .superevent-element.superevent-element-5afceac .navigation.pagination .nav-links span.page-numbers.current {
	color: #ffffff;
}
.superevent-441 .superevent-element.superevent-element-5afceac .navigation.pagination .nav-links .page-numbers {
	min-width: 20px;
	padding: 10px 10px 10px 10px;
	margin-left: calc(4px / 2);
	margin-right: calc(4px / 2);
}
.superevent-441 .superevent-element.superevent-element-5afceac .navigation.pagination .nav-links a.page-numbers .jet-blog-arrow {
	width: 18px;
	height: 18px;
}
.superevent-441 .superevent-element.superevent-element-f57825e > .superevent-container {
	max-width: 1280px;
}
.superevent-441 .superevent-element.superevent-element-f57825e {
	padding: 0px 0px 100px 0px;
}
.superevent-441 .superevent-element.superevent-element-124d533:not(.superevent-motion-effects-element-type-background) > .superevent-widget-wrap,
.superevent-441 .superevent-element.superevent-element-124d533 > .superevent-widget-wrap > .superevent-motion-effects-container > .superevent-motion-effects-layer {
	background-image: url("../images/bg-banner-start-free-1.jpg");
	background-position: center right;
}
.superevent-441 .superevent-element.superevent-element-124d533 > .superevent-element-populated > .superevent-background-overlay {
	background-color: transparent;
	background-image: linear-gradient(90deg, #2190ed38 0%, #2190ed 46%);
	opacity: 1;
}
.superevent-441 .superevent-element.superevent-element-124d533 > .superevent-element-populated,
.superevent-441 .superevent-element.superevent-element-124d533 > .superevent-element-populated > .superevent-background-overlay,
.superevent-441 .superevent-element.superevent-element-124d533 > .superevent-background-slideshow {
	border-radius: 25px 25px 25px 25px;
}
.superevent-441 .superevent-element.superevent-element-124d533 > .superevent-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 60px 60px 60px 60px;
}
.superevent-441 .superevent-element.superevent-element-124d533 > .superevent-element-populated > .superevent-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.superevent-441 .superevent-element.superevent-element-eec9407 .superevent-spacer-inner {
	height: 50px;
}
.superevent-441 .superevent-element.superevent-element-3ea0ca6 .superevent-heading-title {
	color: #ffffff;
	font-weight: bold;
	line-height: 1.3em;
}
.superevent-441 .superevent-element.superevent-element-3ea0ca6 > .superevent-widget-container {
	margin: 0px 120px 0px 0px;
}
.superevent-441 .superevent-element.superevent-element-c393ce6 {
	color: #ffffff;
}
.superevent-441 .superevent-element.superevent-element-7eb22ff .superevent-button {
	font-weight: bold;
	fill: #2190ed;
	color: #2190ed;
	background-color: #ffffff;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #ffffff;
}
.superevent-441 .superevent-element.superevent-element-7eb22ff .superevent-button:hover,
.superevent-441 .superevent-element.superevent-element-7eb22ff .superevent-button:focus {
	color: #ffffff;
	background-color: #0e63ab;
	border-color: #0e63ab;
}
.superevent-441 .superevent-element.superevent-element-7eb22ff .superevent-button:hover svg,
.superevent-441 .superevent-element.superevent-element-7eb22ff .superevent-button:focus svg {
	fill: #ffffff;
}
.superevent-441 .superevent-element.superevent-element-7eb22ff > .superevent-widget-container {
	margin: 0px 15px 10px 0px;
}
.superevent-441 .superevent-element.superevent-element-7eb22ff {
	width: auto;
	max-width: auto;
}
.superevent-441 .superevent-element.superevent-element-f54be19 .superevent-heading-title {
	color: #fffefe;
	font-size: 14px;
}
@media (max-width: 1024px) {
	.superevent-441 .superevent-element.superevent-element-47bd081 > .superevent-widget-container > .jet-listing-grid > .jet-listing-grid__items {
		--columns: 2;
	}
	.superevent-441 .superevent-element.superevent-element-f57825e {
		padding: 10px 10px 10px 10px;
	}
	.superevent-441 .superevent-element.superevent-element-3ea0ca6 > .superevent-widget-container {
		margin: 0px 0px 0px 0px;
	}
}
@media (max-width: 767px) {
	.superevent-441 .superevent-element.superevent-element-33b5905 {
		padding: 40px 0px 40px 0px;
	}
	.superevent-441 .superevent-element.superevent-element-530eb25 .superevent-heading-title {
		font-size: 28px;
		line-height: 1.3em;
	}
	.superevent-441 .superevent-element.superevent-element-f0c958c .superevent-spacer-inner {
		height: 20px;
	}
	.superevent-441 .superevent-element.superevent-element-47bd081 > .superevent-widget-container > .jet-listing-grid > .jet-listing-grid__items {
		--columns: 1;
	}
	.superevent-441 .superevent-element.superevent-element-124d533 > .superevent-element-populated {
		padding: 10px 10px 10px 10px;
	}
	.superevent-441 .superevent-element.superevent-element-3ea0ca6 {
		text-align: center;
	}
	.superevent-441 .superevent-element.superevent-element-c393ce6 {
		text-align: center;
	}
	.superevent-441 .superevent-element.superevent-element-7eb22ff {
		width: 100%;
		max-width: 100%;
	}
	.superevent-441 .superevent-element.superevent-element-f54be19 {
		text-align: center;
	}
}
/*This file was exported by "Export WP Page to Static HTML" plugin which created by ReCorp (https://myrecorp.com) */
