.superevent-387 .superevent-element.superevent-element-7e0d4b7 > .superevent-container {
	max-width: 1350px;
}
.superevent-387 .superevent-element.superevent-element-7e0d4b7:not(.superevent-motion-effects-element-type-background),
.superevent-387 .superevent-element.superevent-element-7e0d4b7 > .superevent-motion-effects-container > .superevent-motion-effects-layer {
	background-color: #2190ed;
}
.superevent-387 .superevent-element.superevent-element-7e0d4b7 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 80px 0px 90px 0px;
}
.superevent-387 .superevent-element.superevent-element-7e0d4b7 > .superevent-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.superevent-387 .superevent-element.superevent-element-9b303f6:not(.superevent-motion-effects-element-type-background) > .superevent-widget-wrap,
.superevent-387 .superevent-element.superevent-element-9b303f6 > .superevent-widget-wrap > .superevent-motion-effects-container > .superevent-motion-effects-layer {
	background-color: #ffffff;
}
.superevent-387 .superevent-element.superevent-element-9b303f6 > .superevent-element-populated,
.superevent-387 .superevent-element.superevent-element-9b303f6 > .superevent-element-populated > .superevent-background-overlay,
.superevent-387 .superevent-element.superevent-element-9b303f6 > .superevent-background-slideshow {
	border-radius: 25px 25px 25px 25px;
}
.superevent-387 .superevent-element.superevent-element-9b303f6 > .superevent-element-populated {
	box-shadow: 15px 15px 30px 0px rgba(0, 0, 0, 0.25);
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 0px 0px 0px 0px;
}
.superevent-387 .superevent-element.superevent-element-9b303f6 > .superevent-element-populated > .superevent-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.superevent-387 .superevent-element.superevent-element-927d1b9 > .superevent-container {
	max-width: 1350px;
}
.superevent-387 .superevent-element.superevent-element-7a02c65 > .superevent-element-populated {
	padding: 80px 80px 80px 80px;
}
.superevent-387 .superevent-element.superevent-element-1e9bec3 .superevent-heading-title {
	color: #2190ed;
	font-weight: bold;
}
.superevent-387 .superevent-element.superevent-element-6134514 > .superevent-container {
	max-width: 1530px;
}
.superevent-387 .superevent-element.superevent-element-f962182 > .superevent-element-populated {
	padding: 80px 80px 0px 80px;
}
.superevent-387 .superevent-element.superevent-element-fd86212 .superevent-heading-title {
	color: #2190ed;
	font-weight: bold;
}
.superevent-387 .superevent-element.superevent-element-5c2266a > .superevent-container {
	max-width: 1350px;
}
.superevent-387 .superevent-element.superevent-element-5c2266a {
	padding: 0px 80px 0px 80px;
}
.superevent-387 .superevent-element.superevent-element-6e4eb8d .superevent-spacer-inner {
	height: 30px;
}
.superevent-387 .superevent-element.superevent-element-ba7bdb0 > .superevent-widget-container {
	margin: 0px 0px 0px 50px;
}
.superevent-387 .superevent-element.superevent-element-cb68f5d .superevent-spacer-inner {
	height: 30px;
}
.superevent-387 .superevent-element.superevent-element-2e7116c > .superevent-widget-container {
	margin: 0px 0px 0px 50px;
}
.superevent-387 .superevent-element.superevent-element-61d2226 > .superevent-container {
	max-width: 1350px;
}
.superevent-387 .superevent-element.superevent-element-3027010 > .superevent-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 0px 80px 80px 80px;
}
.superevent-387 .superevent-element.superevent-element-3027010 > .superevent-element-populated > .superevent-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.superevent-387 .superevent-element.superevent-element-aba72d3 .superevent-heading-title {
	color: #2190ed;
	font-weight: bold;
}
.superevent-387 .superevent-element.superevent-element-70288d6 .superevent-spacer-inner {
	height: 15px;
}
.superevent-387 .superevent-element.superevent-element-21509ef .superevent-icon-list-items:not(.superevent-inline-items) .superevent-icon-list-item:not(:last-child) {
	padding-bottom: calc(15px / 2);
}
.superevent-387 .superevent-element.superevent-element-21509ef .superevent-icon-list-items:not(.superevent-inline-items) .superevent-icon-list-item:not(:first-child) {
	margin-top: calc(15px / 2);
}
.superevent-387 .superevent-element.superevent-element-21509ef .superevent-icon-list-items.superevent-inline-items .superevent-icon-list-item {
	margin-right: calc(15px / 2);
	margin-left: calc(15px / 2);
}
.superevent-387 .superevent-element.superevent-element-21509ef .superevent-icon-list-items.superevent-inline-items {
	margin-right: calc(-15px / 2);
	margin-left: calc(-15px / 2);
}
body.rtl .superevent-387 .superevent-element.superevent-element-21509ef .superevent-icon-list-items.superevent-inline-items .superevent-icon-list-item:after {
	left: calc(-15px / 2);
}
body:not(.rtl) .superevent-387 .superevent-element.superevent-element-21509ef .superevent-icon-list-items.superevent-inline-items .superevent-icon-list-item:after {
	right: calc(-15px / 2);
}
.superevent-387 .superevent-element.superevent-element-21509ef .superevent-icon-list-icon i {
	color: #2190ed;
}
.superevent-387 .superevent-element.superevent-element-21509ef .superevent-icon-list-icon svg {
	fill: #2190ed;
}
.superevent-387 .superevent-element.superevent-element-21509ef {
	--e-icon-list-icon-size: 24px;
}
.superevent-387 .superevent-element.superevent-element-21509ef .superevent-icon-list-text {
	padding-left: 15px;
}
.superevent-387 .superevent-element.superevent-element-776f8b6:not(.superevent-motion-effects-element-type-background),
.superevent-387 .superevent-element.superevent-element-776f8b6 > .superevent-motion-effects-container > .superevent-motion-effects-layer {
	background-color: #f2f2f2;
}
.superevent-387 .superevent-element.superevent-element-776f8b6 {
	border-style: solid;
	border-width: 0px 0px 0px 0px;
	border-color: #ffffff;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 40px 0px 40px 0px;
}
.superevent-387 .superevent-element.superevent-element-776f8b6,
.superevent-387 .superevent-element.superevent-element-776f8b6 > .superevent-background-overlay {
	border-radius: 0px 0px 25px 25px;
}
.superevent-387 .superevent-element.superevent-element-776f8b6 > .superevent-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.superevent-387 .superevent-element.superevent-element-e69b670 .superevent-heading-title {
	font-weight: bold;
}
.superevent-387 .superevent-element.superevent-element-1bbc421.superevent-column > .superevent-widget-wrap {
	justify-content: flex-end;
}
.superevent-387 .superevent-element.superevent-element-21ac9f4 .superevent-heading-title {
	font-size: 52px;
	font-weight: bold;
}
.superevent-387 .superevent-element.superevent-element-21ac9f4 > .superevent-widget-container {
	margin: 0px 20px 0px 0px;
}
.superevent-387 .superevent-element.superevent-element-21ac9f4 {
	width: auto;
	max-width: auto;
}
.superevent-387 .superevent-element.superevent-element-0448f66 .superevent-heading-title {
	font-size: 52px;
	font-weight: bold;
}
.superevent-387 .superevent-element.superevent-element-0448f66 > .superevent-widget-container {
	margin: 0px 50px 0px 0px;
}
.superevent-387 .superevent-element.superevent-element-0448f66 {
	width: auto;
	max-width: auto;
}
.superevent-387 .superevent-element.superevent-element-fb19daf .superevent-button {
	fill: #ffffff;
	color: #ffffff;
	background-color: #2190ed;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #ffffff;
}
.superevent-387 .superevent-element.superevent-element-fb19daf .superevent-button:hover,
.superevent-387 .superevent-element.superevent-element-fb19daf .superevent-button:focus {
	color: #ffffff;
	background-color: #0e63ab;
	border-color: #0e63ab;
}
.superevent-387 .superevent-element.superevent-element-fb19daf .superevent-button:hover svg,
.superevent-387 .superevent-element.superevent-element-fb19daf .superevent-button:focus svg {
	fill: #ffffff;
}
.superevent-387 .superevent-element.superevent-element-fb19daf {
	width: auto;
	max-width: auto;
}
.superevent-387 .superevent-element.superevent-element-8d9dca6 > .superevent-container {
	max-width: 1280px;
}
.superevent-387 .superevent-element.superevent-element-8d9dca6:not(.superevent-motion-effects-element-type-background),
.superevent-387 .superevent-element.superevent-element-8d9dca6 > .superevent-motion-effects-container > .superevent-motion-effects-layer {
	background-color: #2190ed;
}
.superevent-387 .superevent-element.superevent-element-8d9dca6 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.superevent-387 .superevent-element.superevent-element-8d9dca6 > .superevent-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.superevent-387 .superevent-element.superevent-element-5668897 {
	text-align: center;
}
.superevent-387 .superevent-element.superevent-element-5668897 .superevent-heading-title {
	color: #ffffff;
	font-weight: bold;
}
.superevent-387 .superevent-element.superevent-element-7559294 > .superevent-container {
	max-width: 1350px;
}
.superevent-387 .superevent-element.superevent-element-7559294:not(.superevent-motion-effects-element-type-background),
.superevent-387 .superevent-element.superevent-element-7559294 > .superevent-motion-effects-container > .superevent-motion-effects-layer {
	background-color: #2190ed;
}
.superevent-387 .superevent-element.superevent-element-7559294 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 60px 0px 0px 0px;
}
.superevent-387 .superevent-element.superevent-element-7559294 > .superevent-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.superevent-387 .superevent-element.superevent-element-aee2530:not(.superevent-motion-effects-element-type-background),
.superevent-387 .superevent-element.superevent-element-aee2530 > .superevent-motion-effects-container > .superevent-motion-effects-layer {
	background-color: #f2f2f2;
}
.superevent-387 .superevent-element.superevent-element-aee2530 {
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: #cccccc;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.superevent-387 .superevent-element.superevent-element-aee2530,
.superevent-387 .superevent-element.superevent-element-aee2530 > .superevent-background-overlay {
	border-radius: 25px 25px 0px 0px;
}
.superevent-387 .superevent-element.superevent-element-aee2530 > .superevent-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.superevent-387 .superevent-element.superevent-element-e6bc09a {
	text-align: center;
}
.superevent-387 .superevent-element.superevent-element-e6bc09a .superevent-heading-title {
	font-weight: bold;
}
.superevent-387 .superevent-element.superevent-element-e6bc09a > .superevent-widget-container {
	padding: 30px 30px 30px 30px;
}
.superevent-387 .superevent-element.superevent-element-2941f29 > .superevent-container > .superevent-column > .superevent-widget-wrap {
	align-content: center;
	align-items: center;
}
.superevent-387 .superevent-element.superevent-element-2941f29:not(.superevent-motion-effects-element-type-background),
.superevent-387 .superevent-element.superevent-element-2941f29 > .superevent-motion-effects-container > .superevent-motion-effects-layer {
	background-color: #ffffff;
}
.superevent-387 .superevent-element.superevent-element-2941f29 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 20px 20px 20px 20px;
}
.superevent-387 .superevent-element.superevent-element-2941f29 > .superevent-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.superevent-387 .superevent-element.superevent-element-bce6093 .superevent-heading-title {
	color: #2190ed;
	font-weight: bold;
}
.superevent-387 .superevent-element.superevent-element-74b732d {
	--e-icon-list-icon-size: 14px;
}
.superevent-387 .superevent-element.superevent-element-c141494 .superevent-heading-title {
	font-weight: bold;
}
.superevent-387 .superevent-element.superevent-element-c013756 > .superevent-container > .superevent-column > .superevent-widget-wrap {
	align-content: center;
	align-items: center;
}
.superevent-387 .superevent-element.superevent-element-c013756:not(.superevent-motion-effects-element-type-background),
.superevent-387 .superevent-element.superevent-element-c013756 > .superevent-motion-effects-container > .superevent-motion-effects-layer {
	background-color: #ffffff;
}
.superevent-387 .superevent-element.superevent-element-c013756 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 20px 20px 20px 20px;
}
.superevent-387 .superevent-element.superevent-element-c013756 > .superevent-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.superevent-387 .superevent-element.superevent-element-922532d .superevent-heading-title {
	color: #2190ed;
	font-weight: bold;
}
.superevent-387 .superevent-element.superevent-element-b0cfc59 {
	--e-icon-list-icon-size: 14px;
}
.superevent-387 .superevent-element.superevent-element-d1fe962 .superevent-heading-title {
	font-weight: bold;
}
.superevent-387 .superevent-element.superevent-element-647d126 > .superevent-container > .superevent-column > .superevent-widget-wrap {
	align-content: center;
	align-items: center;
}
.superevent-387 .superevent-element.superevent-element-647d126:not(.superevent-motion-effects-element-type-background),
.superevent-387 .superevent-element.superevent-element-647d126 > .superevent-motion-effects-container > .superevent-motion-effects-layer {
	background-color: #ffffff;
}
.superevent-387 .superevent-element.superevent-element-647d126,
.superevent-387 .superevent-element.superevent-element-647d126 > .superevent-background-overlay {
	border-radius: 0px 0px 25px 25px;
}
.superevent-387 .superevent-element.superevent-element-647d126 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 20px 20px 20px 20px;
}
.superevent-387 .superevent-element.superevent-element-647d126 > .superevent-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.superevent-387 .superevent-element.superevent-element-b383f8f .superevent-heading-title {
	color: #2190ed;
	font-weight: bold;
}
.superevent-387 .superevent-element.superevent-element-5cae52f {
	--e-icon-list-icon-size: 14px;
}
.superevent-387 .superevent-element.superevent-element-87e5a66 .superevent-heading-title {
	color: #2190ed;
	font-size: 14px;
	font-style: italic;
}
.superevent-387 .superevent-element.superevent-element-d45465b .superevent-heading-title {
	font-weight: bold;
}
.superevent-387 .superevent-element.superevent-element-8ba524f:not(.superevent-motion-effects-element-type-background),
.superevent-387 .superevent-element.superevent-element-8ba524f > .superevent-motion-effects-container > .superevent-motion-effects-layer {
	background-color: #f2f2f2;
}
.superevent-387 .superevent-element.superevent-element-8ba524f {
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: #cccccc;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.superevent-387 .superevent-element.superevent-element-8ba524f,
.superevent-387 .superevent-element.superevent-element-8ba524f > .superevent-background-overlay {
	border-radius: 25px 25px 0px 0px;
}
.superevent-387 .superevent-element.superevent-element-8ba524f > .superevent-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.superevent-387 .superevent-element.superevent-element-df438bb {
	text-align: center;
}
.superevent-387 .superevent-element.superevent-element-df438bb .superevent-heading-title {
	font-weight: bold;
}
.superevent-387 .superevent-element.superevent-element-df438bb > .superevent-widget-container {
	padding: 30px 30px 30px 30px;
}
.superevent-387 .superevent-element.superevent-element-a6398fe:not(.superevent-motion-effects-element-type-background),
.superevent-387 .superevent-element.superevent-element-a6398fe > .superevent-motion-effects-container > .superevent-motion-effects-layer {
	background-color: #ffffff;
}
.superevent-387 .superevent-element.superevent-element-a6398fe {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 20px 20px 0px 20px;
}
.superevent-387 .superevent-element.superevent-element-a6398fe > .superevent-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.superevent-387 .superevent-element.superevent-element-0ac9971 {
	font-size: 24px;
}
.superevent-387 .superevent-element.superevent-element-a94cd92 > .superevent-container > .superevent-column > .superevent-widget-wrap {
	align-content: center;
	align-items: center;
}
.superevent-387 .superevent-element.superevent-element-a94cd92:not(.superevent-motion-effects-element-type-background),
.superevent-387 .superevent-element.superevent-element-a94cd92 > .superevent-motion-effects-container > .superevent-motion-effects-layer {
	background-color: #ffffff;
}
.superevent-387 .superevent-element.superevent-element-a94cd92,
.superevent-387 .superevent-element.superevent-element-a94cd92 > .superevent-background-overlay {
	border-radius: 0px 0px 25px 25px;
}
.superevent-387 .superevent-element.superevent-element-a94cd92 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 0px 20px 20px 20px;
}
.superevent-387 .superevent-element.superevent-element-a94cd92 > .superevent-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.superevent-387 .superevent-element.superevent-element-6e33520 {
	text-align: right;
}
.superevent-387 .superevent-element.superevent-element-6e33520 .superevent-heading-title {
	font-weight: bold;
}
.superevent-387 .superevent-element.superevent-element-79d02fb {
	text-align: right;
}
.superevent-387 .superevent-element.superevent-element-79d02fb .superevent-heading-title {
	color: #2190ed;
	font-size: 14px;
	font-style: italic;
}
.superevent-387 .superevent-element.superevent-element-87a22ce > .superevent-container {
	max-width: 1350px;
}
.superevent-387 .superevent-element.superevent-element-87a22ce:not(.superevent-motion-effects-element-type-background),
.superevent-387 .superevent-element.superevent-element-87a22ce > .superevent-motion-effects-container > .superevent-motion-effects-layer {
	background-color: #2190ed;
}
.superevent-387 .superevent-element.superevent-element-87a22ce {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 0px 0px 80px 0px;
}
.superevent-387 .superevent-element.superevent-element-87a22ce > .superevent-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.superevent-387 .superevent-element.superevent-element-6890838:not(.superevent-motion-effects-element-type-background),
.superevent-387 .superevent-element.superevent-element-6890838 > .superevent-motion-effects-container > .superevent-motion-effects-layer {
	background-color: #f2f2f2;
}
.superevent-387 .superevent-element.superevent-element-6890838 {
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: #cccccc;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.superevent-387 .superevent-element.superevent-element-6890838,
.superevent-387 .superevent-element.superevent-element-6890838 > .superevent-background-overlay {
	border-radius: 25px 25px 0px 0px;
}
.superevent-387 .superevent-element.superevent-element-6890838 > .superevent-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.superevent-387 .superevent-element.superevent-element-c8402a9 {
	text-align: center;
}
.superevent-387 .superevent-element.superevent-element-c8402a9 .superevent-heading-title {
	font-weight: bold;
}
.superevent-387 .superevent-element.superevent-element-c8402a9 > .superevent-widget-container {
	padding: 30px 30px 30px 30px;
}
.superevent-387 .superevent-element.superevent-element-9dc3977:not(.superevent-motion-effects-element-type-background),
.superevent-387 .superevent-element.superevent-element-9dc3977 > .superevent-motion-effects-container > .superevent-motion-effects-layer {
	background-color: #ffffff;
}
.superevent-387 .superevent-element.superevent-element-9dc3977 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 20px 20px 0px 20px;
}
.superevent-387 .superevent-element.superevent-element-9dc3977 > .superevent-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.superevent-387 .superevent-element.superevent-element-08f94df {
	font-size: 24px;
}
.superevent-387 .superevent-element.superevent-element-d1eb676 > .superevent-container > .superevent-column > .superevent-widget-wrap {
	align-content: center;
	align-items: center;
}
.superevent-387 .superevent-element.superevent-element-d1eb676:not(.superevent-motion-effects-element-type-background),
.superevent-387 .superevent-element.superevent-element-d1eb676 > .superevent-motion-effects-container > .superevent-motion-effects-layer {
	background-color: #ffffff;
}
.superevent-387 .superevent-element.superevent-element-d1eb676,
.superevent-387 .superevent-element.superevent-element-d1eb676 > .superevent-background-overlay {
	border-radius: 0px 0px 25px 25px;
}
.superevent-387 .superevent-element.superevent-element-d1eb676 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 0px 20px 20px 20px;
}
.superevent-387 .superevent-element.superevent-element-d1eb676 > .superevent-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.superevent-387 .superevent-element.superevent-element-bc4db7a {
	text-align: right;
}
.superevent-387 .superevent-element.superevent-element-bc4db7a .superevent-heading-title {
	font-weight: bold;
}
.superevent-387 .superevent-element.superevent-element-66206bc {
	text-align: right;
}
.superevent-387 .superevent-element.superevent-element-66206bc .superevent-heading-title {
	color: #2190ed;
	font-size: 14px;
	font-style: italic;
}
.superevent-387 .superevent-element.superevent-element-9673076:not(.superevent-motion-effects-element-type-background),
.superevent-387 .superevent-element.superevent-element-9673076 > .superevent-motion-effects-container > .superevent-motion-effects-layer {
	background-color: #f2f2f2;
}
.superevent-387 .superevent-element.superevent-element-9673076 {
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: #cccccc;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.superevent-387 .superevent-element.superevent-element-9673076,
.superevent-387 .superevent-element.superevent-element-9673076 > .superevent-background-overlay {
	border-radius: 25px 25px 0px 0px;
}
.superevent-387 .superevent-element.superevent-element-9673076 > .superevent-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.superevent-387 .superevent-element.superevent-element-9468df3 {
	text-align: center;
}
.superevent-387 .superevent-element.superevent-element-9468df3 .superevent-heading-title {
	font-weight: bold;
}
.superevent-387 .superevent-element.superevent-element-9468df3 > .superevent-widget-container {
	padding: 30px 30px 30px 30px;
}
.superevent-387 .superevent-element.superevent-element-bcde516:not(.superevent-motion-effects-element-type-background),
.superevent-387 .superevent-element.superevent-element-bcde516 > .superevent-motion-effects-container > .superevent-motion-effects-layer {
	background-color: #ffffff;
}
.superevent-387 .superevent-element.superevent-element-bcde516 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 20px 20px 0px 20px;
}
.superevent-387 .superevent-element.superevent-element-bcde516 > .superevent-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.superevent-387 .superevent-element.superevent-element-95b6054 {
	font-size: 24px;
}
.superevent-387 .superevent-element.superevent-element-55b4e4e .superevent-spacer-inner {
	height: 15px;
}
.superevent-387 .superevent-element.superevent-element-0dc1262 > .superevent-container > .superevent-column > .superevent-widget-wrap {
	align-content: center;
	align-items: center;
}
.superevent-387 .superevent-element.superevent-element-0dc1262:not(.superevent-motion-effects-element-type-background),
.superevent-387 .superevent-element.superevent-element-0dc1262 > .superevent-motion-effects-container > .superevent-motion-effects-layer {
	background-color: #ffffff;
}
.superevent-387 .superevent-element.superevent-element-0dc1262,
.superevent-387 .superevent-element.superevent-element-0dc1262 > .superevent-background-overlay {
	border-radius: 0px 0px 25px 25px;
}
.superevent-387 .superevent-element.superevent-element-0dc1262 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 0px 20px 20px 20px;
}
.superevent-387 .superevent-element.superevent-element-0dc1262 > .superevent-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.superevent-387 .superevent-element.superevent-element-34a01ee {
	text-align: right;
}
.superevent-387 .superevent-element.superevent-element-34a01ee .superevent-heading-title {
	font-weight: bold;
}
.superevent-387 .superevent-element.superevent-element-932b4c2 {
	text-align: right;
}
.superevent-387 .superevent-element.superevent-element-932b4c2 .superevent-heading-title {
	color: #2190ed;
	font-size: 14px;
	font-style: italic;
}
.superevent-387 .superevent-element.superevent-element-ea3c237 > .superevent-container {
	max-width: 1350px;
}
.superevent-387 .superevent-element.superevent-element-ea3c237 > .superevent-shape-top .superevent-shape-fill {
	fill: #2190ed;
}
.superevent-387 .superevent-element.superevent-element-ea3c237 > .superevent-shape-top svg {
	width: calc(120% + 1.3px);
	height: 120px;
}
.superevent-387 .superevent-element.superevent-element-ea3c237 > .superevent-shape-top {
	z-index: 2;
	pointer-events: none;
}
.superevent-387 .superevent-element.superevent-element-ea3c237 {
	padding: 200px 0px 90px 0px;
}
.superevent-387 .superevent-element.superevent-element-06e5b19 {
	text-align: center;
}
.superevent-387 .superevent-element.superevent-element-06e5b19 .superevent-heading-title {
	color: #2190ed;
	font-weight: bold;
}
.superevent-387 .superevent-element.superevent-element-3c37127 {
	text-align: center;
}
.superevent-387 .superevent-element.superevent-element-109b2a5 .superevent-button {
	fill: #ffffff;
	color: #ffffff;
	background-color: #2190ed;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #ffffff;
}
.superevent-387 .superevent-element.superevent-element-109b2a5 .superevent-button:hover,
.superevent-387 .superevent-element.superevent-element-109b2a5 .superevent-button:focus {
	color: #ffffff;
	background-color: #0e63ab;
	border-color: #0e63ab;
}
.superevent-387 .superevent-element.superevent-element-109b2a5 .superevent-button:hover svg,
.superevent-387 .superevent-element.superevent-element-109b2a5 .superevent-button:focus svg {
	fill: #ffffff;
}
.superevent-387 .superevent-element.superevent-element-109b2a5 {
	width: 100%;
	max-width: 100%;
}
.superevent-387 .superevent-element.superevent-element-6c5a5e2 .superevent-spacer-inner {
	height: 50px;
}
.superevent-387 .superevent-element.superevent-element-e70452f > .superevent-container {
	max-width: 1350px;
}
.superevent-387 .superevent-element.superevent-element-3cd3b86 > .superevent-element-populated {
	padding: 10px 80px 10px 80px;
}
.superevent-387 .superevent-element.superevent-element-9974b2e .superevent-heading-title {
	color: #2190ed;
	line-height: 1.3em;
}
.superevent-387 .superevent-element.superevent-element-275a8ff > .superevent-element-populated {
	padding: 10px 150px 10px 150px;
}
.superevent-387 .superevent-element.superevent-element-b8848ff > .superevent-widget-container > .jet-accordion > .jet-accordion__inner > .jet-toggle {
	margin: 0px 0px 0px 0px;
	border-style: solid;
	border-width: 0px 0px 0px 0px;
	border-radius: 0px 0px 0px 0px;
}
.superevent-387 .superevent-element.superevent-element-b8848ff > .superevent-widget-container > .jet-accordion > .jet-accordion__inner > .jet-toggle > .jet-toggle__control {
	justify-content: space-between;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: #cccccc;
	padding: 25px 20px 25px 20px;
	border-radius: 0px 0px 0px 0px;
}
.superevent-387 .superevent-element.superevent-element-b8848ff .jet-toggle__label-text {
	text-align: left;
}
.superevent-387 .superevent-element.superevent-element-b8848ff > .superevent-widget-container > .jet-accordion > .jet-accordion__inner > .jet-toggle > .jet-toggle__control .jet-toggle__label-text {
	color: #000000;
	font-weight: normal;
}
.superevent-387 .superevent-element.superevent-element-b8848ff > .superevent-widget-container > .jet-accordion > .jet-accordion__inner > .jet-toggle > .jet-toggle__control .jet-toggle__label-icon .icon-normal {
	color: #2190ed;
	background-color: #2190ed00;
}
.superevent-387 .superevent-element.superevent-element-b8848ff > .superevent-widget-container > .jet-accordion > .jet-accordion__inner > .jet-toggle > .jet-toggle__control:hover .jet-toggle__label-icon .icon-normal {
	color: #fffafa;
	background-color: #2190ed;
}
.superevent-387 .superevent-element.superevent-element-b8848ff > .superevent-widget-container > .jet-accordion > .jet-accordion__inner > .jet-toggle.active-toggle .jet-toggle__label-icon .icon-active {
	color: #ffffff;
	background-color: #2190ed;
}
.superevent-387 .superevent-element.superevent-element-b8848ff > .superevent-widget-container > .jet-accordion > .jet-accordion__inner > .jet-toggle > .jet-toggle__content {
	background-color: #f9f9f9;
}
@media (max-width: 1024px) and (min-width: 768px) {
	.superevent-387 .superevent-element.superevent-element-2f43599 {
		width: 100%;
	}
	.superevent-387 .superevent-element.superevent-element-a22fc2d {
		width: 100%;
	}
	.superevent-387 .superevent-element.superevent-element-6a48cca {
		width: 100%;
	}
	.superevent-387 .superevent-element.superevent-element-cfc563e {
		width: 100%;
	}
	.superevent-387 .superevent-element.superevent-element-3cd3b86 {
		width: 100%;
	}
	.superevent-387 .superevent-element.superevent-element-275a8ff {
		width: 100%;
	}
}
@media (max-width: 1024px) {
	.superevent-387 .superevent-element.superevent-element-7e0d4b7 {
		padding: 10px 10px 80px 10px;
	}
	.superevent-387 .superevent-element.superevent-element-7a02c65 > .superevent-element-populated {
		padding: 60px 60px 60px 60px;
	}
	.superevent-387 .superevent-element.superevent-element-f962182 > .superevent-element-populated {
		padding: 60px 60px 0px 60px;
	}
	.superevent-387 .superevent-element.superevent-element-5c2266a {
		padding: 0px 30px 0px 30px;
	}
	.superevent-387 .superevent-element.superevent-element-3027010 > .superevent-element-populated {
		padding: 60px 60px 60px 60px;
	}
	.superevent-387 .superevent-element.superevent-element-776f8b6 {
		padding: 40px 20px 40px 20px;
	}
	.superevent-387 .superevent-element.superevent-element-3cd3b86 > .superevent-element-populated {
		padding: 10px 10px 10px 10px;
	}
	.superevent-387 .superevent-element.superevent-element-275a8ff > .superevent-element-populated {
		padding: 10px 10px 10px 10px;
	}
}
@media (max-width: 767px) {
	.superevent-387 .superevent-element.superevent-element-7a02c65 > .superevent-element-populated {
		padding: 40px 30px 60px 30px;
	}
	.superevent-387 .superevent-element.superevent-element-1e9bec3 .superevent-heading-title {
		font-size: 28px;
		line-height: 1.2em;
	}
	.superevent-387 .superevent-element.superevent-element-f962182 > .superevent-element-populated {
		padding: 30px 30px 30px 30px;
	}
	.superevent-387 .superevent-element.superevent-element-fd86212 .superevent-heading-title {
		font-size: 28px;
		line-height: 1.2em;
	}
	.superevent-387 .superevent-element.superevent-element-5c2266a {
		padding: 0px 0px 0px 0px;
	}
	.superevent-387 .superevent-element.superevent-element-fdd6094 > .superevent-element-populated {
		padding: 30px 30px 30px 30px;
	}
	.superevent-387 .superevent-element.superevent-element-b172b7b > .superevent-element-populated {
		padding: 30px 30px 30px 30px;
	}
	.superevent-387 .superevent-element.superevent-element-3027010 > .superevent-element-populated {
		padding: 30px 30px 30px 30px;
	}
	.superevent-387 .superevent-element.superevent-element-1bbc421.superevent-column > .superevent-widget-wrap {
		justify-content: flex-start;
	}
	.superevent-387 .superevent-element.superevent-element-21ac9f4 {
		text-align: left;
		width: auto;
		max-width: auto;
	}
	.superevent-387 .superevent-element.superevent-element-21ac9f4 > .superevent-widget-container {
		margin: 0px 0px 20px 0px;
	}
	.superevent-387 .superevent-element.superevent-element-0448f66 {
		text-align: left;
		width: auto;
		max-width: auto;
	}
	.superevent-387 .superevent-element.superevent-element-0448f66 > .superevent-widget-container {
		margin: 0px 0px 20px 0px;
	}
	.superevent-387 .superevent-element.superevent-element-fb19daf {
		width: 100%;
		max-width: 100%;
	}
	.superevent-387 .superevent-element.superevent-element-7559294 {
		padding: 20px 0px 0px 0px;
	}
	.superevent-387 .superevent-element.superevent-element-2f43599 > .superevent-element-populated {
		padding: 10px 10px 10px 10px;
	}
	.superevent-387 .superevent-element.superevent-element-e6bc09a .superevent-heading-title {
		font-size: 28px;
	}
	.superevent-387 .superevent-element.superevent-element-e6bc09a > .superevent-widget-container {
		padding: 20px 20px 20px 20px;
	}
	.superevent-387 .superevent-element.superevent-element-2941f29 {
		padding: 20px 20px 20px 20px;
	}
	.superevent-387 .superevent-element.superevent-element-bce6093 {
		text-align: center;
	}
	.superevent-387 .superevent-element.superevent-element-bce6093 .superevent-heading-title {
		font-size: 20px;
	}
	.superevent-387 .superevent-element.superevent-element-c141494 {
		text-align: center;
	}
	.superevent-387 .superevent-element.superevent-element-c141494 .superevent-heading-title {
		font-size: 30px;
	}
	.superevent-387 .superevent-element.superevent-element-922532d {
		text-align: center;
	}
	.superevent-387 .superevent-element.superevent-element-922532d .superevent-heading-title {
		font-size: 20px;
	}
	.superevent-387 .superevent-element.superevent-element-d1fe962 {
		text-align: center;
	}
	.superevent-387 .superevent-element.superevent-element-d1fe962 .superevent-heading-title {
		font-size: 30px;
	}
	.superevent-387 .superevent-element.superevent-element-b383f8f {
		text-align: center;
	}
	.superevent-387 .superevent-element.superevent-element-b383f8f .superevent-heading-title {
		font-size: 20px;
	}
	.superevent-387 .superevent-element.superevent-element-87e5a66 {
		text-align: center;
	}
	.superevent-387 .superevent-element.superevent-element-d45465b {
		text-align: center;
	}
	.superevent-387 .superevent-element.superevent-element-d45465b .superevent-heading-title {
		font-size: 30px;
	}
	.superevent-387 .superevent-element.superevent-element-a22fc2d > .superevent-element-populated {
		padding: 10px 10px 10px 10px;
	}
	.superevent-387 .superevent-element.superevent-element-df438bb .superevent-heading-title {
		font-size: 28px;
	}
	.superevent-387 .superevent-element.superevent-element-df438bb > .superevent-widget-container {
		padding: 20px 20px 20px 20px;
	}
	.superevent-387 .superevent-element.superevent-element-0ac9971 {
		text-align: center;
		font-size: 20px;
	}
	.superevent-387 .superevent-element.superevent-element-6e33520 {
		text-align: center;
	}
	.superevent-387 .superevent-element.superevent-element-79d02fb {
		text-align: center;
	}
	.superevent-387 .superevent-element.superevent-element-6a48cca > .superevent-element-populated {
		padding: 10px 10px 10px 10px;
	}
	.superevent-387 .superevent-element.superevent-element-c8402a9 .superevent-heading-title {
		font-size: 28px;
	}
	.superevent-387 .superevent-element.superevent-element-c8402a9 > .superevent-widget-container {
		padding: 20px 20px 20px 20px;
	}
	.superevent-387 .superevent-element.superevent-element-08f94df {
		text-align: center;
		font-size: 20px;
	}
	.superevent-387 .superevent-element.superevent-element-bc4db7a {
		text-align: center;
	}
	.superevent-387 .superevent-element.superevent-element-66206bc {
		text-align: center;
	}
	.superevent-387 .superevent-element.superevent-element-cfc563e > .superevent-element-populated {
		padding: 10px 10px 10px 10px;
	}
	.superevent-387 .superevent-element.superevent-element-9468df3 .superevent-heading-title {
		font-size: 28px;
	}
	.superevent-387 .superevent-element.superevent-element-9468df3 > .superevent-widget-container {
		padding: 20px 20px 20px 20px;
	}
	.superevent-387 .superevent-element.superevent-element-95b6054 {
		text-align: center;
		font-size: 20px;
	}
	.superevent-387 .superevent-element.superevent-element-34a01ee {
		text-align: center;
	}
	.superevent-387 .superevent-element.superevent-element-932b4c2 {
		text-align: center;
	}
	.superevent-387 .superevent-element.superevent-element-ea3c237 > .superevent-shape-top svg {
		height: 60px;
	}
	.superevent-387 .superevent-element.superevent-element-ea3c237 {
		padding: 120px 0px 0px 0px;
	}
	.superevent-387 .superevent-element.superevent-element-06e5b19 .superevent-heading-title {
		line-height: 1.2em;
	}
	.superevent-387 .superevent-element.superevent-element-109b2a5 {
		width: 100%;
		max-width: 100%;
	}
	.superevent-387 .superevent-element.superevent-element-9974b2e {
		text-align: center;
	}
}
/*This file was exported by "Export WP Page to Static HTML" plugin which created by ReCorp (https://myrecorp.com) */
