@import "_assets-css-main.scss";
@import "_base-style.scss";
@import "_menu-plus-functions-css-offside.scss";
@import "_menu-plus-functions-css-navigation-branding-flex.scss";
:root {
	--primary-color: #2190ed;
	--secondary-color: #0e63ab;
	--accent-color: #0b254f;
	--text-color: #333333;
	--gray-color: #797979;
	--medium-gray-color: #969696;
	--light-gray-color: #f2f2f2;
	--base-color: #ffffff;
}

/*SITE STYLES*/

body {
	color: var(--text-color);
}

/*Separate buttons in nav*/

#site-navigation {
	margin-left: unset !important;
	display: flex;
	justify-content: space-around;
}

.site-header .main-navigation:not(#sticky-navigation) .inside-navigation {
	margin-left: 60px;
}

#site-navigation,
#primary-menu {
	flex: 1;
}

.main-navigation {
	.inside-navigation {
		flex: 1;
	}

	ul li:nth-child(4) {
		margin-left: auto;
	}

	.main-nav > ul {
		justify-content: space-around;
		margin: 5px 20px;
	}

	.menu-toggle {
		color: #2190ed !important;
		font-size: 25px;
	}

	ul ul {
		background-color: #ffffff;
		border-bottom: 5px solid #2190ed;
		border-radius: 6px;
	}
}

/* Change nth-child(#) to first item to right */

/*Nav toggle*/

/*Nav buttons*/

.demo-button {
	background-color: #ffffff;
	border: 2px solid #2190ed;
	border-radius: 6px;
	transition: all ease 0.5s;
	margin-right: 10px;

	&:hover {
		background-color: #0e63ab;
		color: #ffffff !important;
		border: 2px solid #0e63ab;
	}

	a {
		color: #2190ed !important;
	}

	&:hover a {
		color: #ffffff !important;
	}
}

.event-button {
	border: 1px solid #2190ed;
	background-color: #2190ed;
	color: var(--base-color);
	border-radius: 6px;
	transition: all ease 0.5s;
	margin: 0 5px;

	&:hover {
		background-color: #0e63ab;
		color: #ffffff;
		border: 1px solid #0e63ab;
	}

	a,
	&:hover a {
		color: #ffffff !important;
	}
}

/*-------------------------*  * Range slider styles  * ------------------------*/

.range-slider {
	background-color: red;
	padding: 2rem 4rem;
	border-radius: 8px;
	box-shadow: 0px 3px 12px rgba(44, 44, 44, 0.2);
	width: 450px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1rem;
}

.range-slider__slider {
	width: 100%;
	position: relative;

	input {
		-webkit-appearance: none;

		/* Override default CSS styles */
		appearance: none;
		width: 100%;

		/* Full-width */
		height: 0.25rem;

		/* Specified height */
		background: #d3d3d3;

		/* Grey background */
		outline: none;

		/* Remove outline */
		opacity: 1;

		/* Set transparency (for mouse-over effects on hover) */
		-webkit-transition: 0.2s;

		/* 0.2 seconds transition on hover */
		transition: opacity 0.2s;
		border-radius: 100px;

		&::-webkit-slider-thumb {
			-webkit-appearance: none;

			/* Override default look */
			appearance: none;
			width: 1.5rem;

			/* Set a specific slider handle width */
			height: 1.5rem;

			/* Slider handle height */
			background: url("../images/isotype.svg");

			/* Green background */
			cursor: pointer;

			/* Cursor on hover */
			border-radius: 100px;
		}

		&::-moz-range-thumb {
			width: 1.5rem;

			/* Set a specific slider handle width */
			height: 1.5rem;

			/* Slider handle height */
			background: url("../images/favicon.svg");

			/* Green background */
			cursor: pointer;

			/* Cursor on hover */
			border-radius: 100px;
			border: 0.25rem solid salmon;
		}
	}
}

.range-value {
	position: absolute;
	top: 170%;
	z-index: 1;

	span {
		width: 75px;
		height: 40px;
		line-height: 1.7em;
		text-align: center;
		background: #2190ed;
		color: #fff;
		font-size: 1.5em;
		font-weight: bold;
		display: block;
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		border-radius: 6px;

		&:before {
			content: "";
			position: absolute;
			width: 0;
			height: 0;
			border-bottom: 5px solid #2190ed;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			bottom: 100%;
			left: 50%;
			margin-left: -5px;
			margin-top: -1px;
		}
	}
}

.limits {
	position: absolute;
	width: 100%;
	left: 0;
	display: flex;
	justify-content: space-between;
	padding: 10px 0 0 8px;
	font-weight: bold;
	color: #969696;
	z-index: 0;
}

/*-------------------------*  * radio input styles  * ------------------------*/

.radio {
	margin: 0.5rem;

	input[type="radio"] {
		position: absolute;
		opacity: 0;

		+ .radio-label:before {
			content: "";
			background: #f4f4f4;
			border-radius: 100%;
			border: 1px solid #b4b4b4;
			display: inline-block;
			width: 1.4em;
			height: 1.4em;
			position: relative;
			top: 4px;
			margin-right: 1em;
			vertical-align: top;
			cursor: pointer;
			text-align: center;
			transition: all 250ms ease;
		}

		&:checked + .radio-label:before {
			background-color: #3197ee;
			box-shadow: inset 0 0 0 4px #f4f4f4;
		}

		&:focus + .radio-label:before {
			outline: none;
			border-color: #3197ee;
		}

		&:disabled + .radio-label:before {
			box-shadow: inset 0 0 0 4px #f4f4f4;
			border-color: #b4b4b4;
			background: #b4b4b4;
		}

		+ .radio-label:empty:before {
			margin-right: 0;
		}
	}
}

/*Included list*/

.list-included .superevent-icon-list-items {
	columns: 2;
}

/*Offside navigation*/

.slideout-navigation {
	color: var(--contrast);

	a {
		color: var(--contrast);
	}

	button.slideout-exit {
		color: var(--contrast);
		padding-left: 20px;
		padding-right: 20px;
	}
}

.slide-opened nav.toggled .menu-toggle:before {
	display: none;
}

/*************************
* Global
*************************/

.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-column {
	flex-direction: column;
}

.justify-between {
	justify-content: space-between;
}

.justify-center {
	justify-content: center;
}

.justify-end {
	justify-content: flex-end;
}

.align-center {
	align-items: center;
}

.col-20 {
	width: 20%;
}

.col-25 {
	width: 25%;
}

.col-30 {
	width: 30%;
}
.col-33 {
	width: 33%;
}

.col-40 {
	width: 40%;
}

.col-50 {
	width: 50%;
}

.col-60 {
	width: 60%;
}
.col-67 {
	width: 67%;
}

.col-70 {
	width: 70%;
}

.col-100 {
	width: 100%;
}

.container {
	display: flex;
	width: 98%;
	max-width: 1350px;
	margin: auto;
}

.container-full {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: 80px 0;
}

.heading-title {
	position: relative;
}

h2.heading-title {
	font-size: 28px;
	color: var(--primary-color);
}

.superevent-button-content-wrapper {
	display: flex;
}

.button {
	display: inline-block;
	font-size: 18px;
	border-radius: 5px;
	transition: all 0.3s;
	border: 1px solid transparent;
	margin: 0 10px 10px 0;
}

.button-lg {
	font-size: 18px;
	padding: 15px 40px;
	border-radius: 5px;
}

.button-md {
	font-size: 18px;
	padding: 12px 30px;
}

.button-primary {
	background: var(--primary-color);
	border: 1px solid var(--primary-color);
	color: var(--base-color);
}

.button-line-white {
	border: 1px solid var(--base-color);
	background-color: transparent;
	color: var(--base-color);
}

.button-primary:hover,
.button-line-white:hover {
	background: var(--secondary-color);
	border: 1px solid var(--secondary-color);
}

.button-white {
	&:hover {
		background: var(--secondary-color);
		border: 1px solid var(--secondary-color);
	}

	background: var(--base-color);
	color: var(--primary-color);
	font-weight: bold;
}

.button-link {
	color: var(--primary-color);
	padding: 20px 20px 20px 0;
	font-style: italic;
	text-decoration: underline;

	&:hover {
		color: var(--secondary-color);
	}
}
.read-more {
	font-style: italic;
}

.superevent-align-icon-right {
	margin-left: 5px;
	-webkit-box-ordinal-group: 16;
	-ms-flex-order: 15;
	order: 15;
}

.superevent-button-text {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-box-ordinal-group: 11;
	-ms-flex-order: 10;
	order: 10;
	display: inline-block;
}

.text-white {
	color: var(--base-color);
}

.bg-primary {
	background: var(--primary-color);
}

.bg-base {
	background: var(--base-color);
}

.bg-light-gray {
	background: var(--light-gray-color);
}

.bg-dark-blue {
	background: var(--accent-color);
}

.text-center {
	text-align: center;
	justify-content: center;
}

.background-overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	z-index: 0;
}

.visible-desktop {
	display: block;
}

.visible-mobile {
	display: none;
}

/*************************
* Home
*************************/

.hero-section {
	padding: 40px 0;

	.info-col {
		padding: 40px 60px 40px 40px;

		h1 {
			font-weight: bold;
			font-size: 36px;
			margin-bottom: 40px;
		}

		p {
			margin-bottom: 40px;
		}

		.button {
			margin-bottom: 20px;
		}
	}
}

/*line 1*/

h1.professional-events::after {
	content: "";
	background: url("../images/Raya_10.svg");
	position: absolute;
	width: 330px;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	top: 45px;
	left: 70px;
}

.featured-items-container {
	margin: 40px 0;
	display: flex;

	.featured-items-list {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin: 0;

		.featured-items-list-item {
			padding: 10px 30px;
			font-size: 22px;
			font-weight: bold;
			color: var(--primary-color);
			text-align: center;
		}
	}
}

.brands-list {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 40px;

	.brands-list__item {
		width: 20%;
		padding: 30px;
	}
}

/*Section Solutions*/

.solutions {
	padding: 80px 0;

	.col-40,
	.col-50 {
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		align-items: center;
	}

	h2 {
		color: var(--primary-color);
	}
}

.left-info-col {
	padding: 10px 120px 10px 10px;
}

.right-info-col {
	padding: 10px 10px 10px 120px;
}

.left-info-col h3,
.right-info-col h3 {
	font-weight: bold;
}

.left-info-col p,
.right-info-col p {
	margin-bottom: 40px;
}

/*Section Choose us*/

.choose-us {
	padding: 120px 0;

	h2 {
		color: var(--base-color);
	}

	.icon-list {
		margin-top: 60px;
	}

	.icon-box-wrapper {
		display: flex;
		width: 25%;
		align-items: center;
	}

	.icon-box-icon {
		margin-bottom: 20px;
	}

	.icon-box-title,
	.icon-box-description {
		text-align: center;
		color: var(--base-color);
	}
}

/*Chose us list*/

b.choose-us-line {
	position: relative;

	&::after {
		content: "";
		background: url("../images/Raya.svg");
		position: absolute;
		width: 160px;
		height: 100%;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		top: 22px;
		right: -10px;
	}
}

/*Section Organizers*/

.organizers {
	padding: 200px 0 150px;
	position: relative;
	background-image: url("../images/bg-elipse-4.jpg");
	background-position: top right;
	background-repeat: no-repeat;
	background-size: cover;

	.shape {
		z-index: 2;
		pointer-events: none;
		top: -1px;
		overflow: hidden;
		position: absolute;
		left: 0;
		width: 100%;
		line-height: 0;

		svg {
			fill: var(--accent-color);
			display: block;
			width: calc(100% + 1.3px);
			position: relative;
			left: 50%;
			-webkit-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			transform: translateX(-50%);
			height: 90px;
		}
	}

	h2 {
		font-weight: bold;
		color: var(--primary-color);
	}

	.col-50 {
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		align-items: center;
	}
}

/*Section testimonials*/

.testimonials {
	padding: 80px 0;

	.testimonials-wrapper {
		justify-content: center;

		.testimonial-box {
			width: 25%;
			position: relative;
			margin: 40px;
		}

		.quotation {
			position: absolute;
			left: -25px;
			top: -25px;
		}
	}
}

.testimonial-meta-inner {
	margin-top: 20px;
	display: flex;
	align-items: center;
}

.testimonial-image img {
	height: 80px;
	width: 80px;
	border-radius: 50%;
	border: solid 3px var(--primary-color);
	margin-right: 20px;
}

.testimonial-name {
	font-weight: bold;
	color: var(--primary-color);
}

/*Section Case study*/

.case-study {
	position: relative;
	background: url("../images/bg-banner-case-study.jpg") no-repeat center center;
	background-size: cover;
	padding: 100px;
	border-radius: 25px;
	margin-bottom: 80px;

	.background-overlay {
		background-color: transparent;
		background-image: linear-gradient(90deg, #0b254f 0%, #0b254f00 100%);
		opacity: 1;
		mix-blend-mode: multiply;
		transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
		border-radius: 25px;
	}

	h5.heading-title {
		position: absolute;
		padding: 15px 25px 15px 25px;
		background-color: #2190ed;
		border-radius: 6px 6px 6px 6px;
		color: var(--base-color);
		display: inline-block;
		top: -120px;
		left: 40px;
	}

	.col-50 {
		position: relative;
	}

	.button {
		position: absolute;
		right: 0;
		bottom: 0;
	}

	h2,
	p,
	.testimonial-job {
		color: var(--base-color);
	}

	h2 {
		font-weight: bold;
	}
}

/*Section Supporting events*/

.suporting .supporting-list {
	justify-content: space-between;
}

.supporting {
	.supporting-list .superevent-image-box-wrapper {
		display: flex;
		width: 25%;
		margin: 30px;
		padding: 35px 35px 15px;
		background-color: #ffffff;
		border-radius: 15px 15px 15px 15px;
		box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.right-col-info {
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		align-items: center;
		padding-left: 40px;
	}

	h2 {
		font-weight: bold;
		color: var(--primary-color);
	}
}

/*Section Banner CTA*/

.banner-cta {
	position: relative;
	background: url("../images/bg-banner-ready.jpg") no-repeat center center;
	background-size: cover;
	padding: 120px 80px;
	margin-bottom: 100px;

	.background-overlay {
		background-color: transparent;
		background-image: linear-gradient(90deg, #2190ed 30%, #2190ed69 100%);
		opacity: 1;
		transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
	}

	.col-50 {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		padding: 60px 150px 60px 60px;

		.superevent-button {
			display: inline-block;
		}
	}

	h2 {
		margin-bottom: 60px;
	}

	p {
		font-size: 20px;
	}

	h2,
	p,
	.testimonial-job {
		color: var(--base-color);
	}

	h2 {
		font-weight: bold;
	}
}

/*Section partners*/

.partners {
	.brands-list {
		margin: 40px 0 100px;
	}

	h2 {
		color: var(--gray-color);
	}
}

/*Section subscribe*/

.subscribe-section {
	position: relative;
	background: url("../images/bg-banner-want-to-learn.jpg") no-repeat center center;
	background-size: cover;
	padding: 80px;
	border-radius: 25px;
	margin-bottom: 80px;

	.background-overlay {
		background-color: transparent;
		background-image: linear-gradient(90deg, #2b3547 37%, #2b354799 100%);
		opacity: 1;
		transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
		border-radius: 25px;
	}

	h5.heading-title {
		position: absolute;
		padding: 15px 25px 15px 25px;
		background-color: #2190ed;
		border-radius: 6px 6px 6px 6px;
		color: var(--base-color);
		display: inline-block;
		top: -100px;
		left: 40px;
	}

	.col-50 {
		position: relative;
	}

	.button {
		position: absolute;
		right: 0;
		bottom: 0;
	}

	h2,
	p {
		color: var(--base-color);
	}

	h2 {
		font-weight: bold;
	}

	p {
		margin-bottom: 40px;
	}

	.subscribe-form {
		width: 100%;
		justify-content: stretch;

		.input-container {
			max-width: 83.33333%;
			width: 83.33333%;
			-webkit-box-flex: 0;
			-ms-flex: 0 0 83.33333%;
			flex: 0 0 83.33333%;
			padding-right: 10px;
		}

		.submit-container {
			max-width: 16.66666%;
			width: 16.66666%;
			-webkit-box-flex: 0;
			-ms-flex: 0 0 16.66666%;
			flex: 0 0 16.66666%;
		}

		.field_mail,
		.submit {
			width: 100%;
			border-radius: 6px;
		}
	}
}

/*Footer*/

.site-footer .brand {
	width: 200px;
	margin-bottom: 40px;
}

.superevent-screen-only {
	position: absolute;
	top: -10000em;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.site-footer h3 {
	color: var(--base-color);
	font-weight: bold;
}

.superevent-social-icon i {
	color: var(--e-social-icon-icon-color);
}

.superevent-icon {
	i,
	svg {
		width: 1em;
		height: 1em;
		position: relative;
		display: block;
	}
}

.social-icon-container-desktop .superevent-social-icon,
.social-icon-container-mobile .superevent-social-icon {
	font-size: 1.5em;
	padding: 15px 30px 15px 10px;
	color: var(--base-color);
	transition: all 0.3s;
}

.social-icon-container-desktop .superevent-social-icon:hover,
.social-icon-container-mobile .superevent-social-icon:hover {
	color: var(--primary-color);
}

.site-footer .main-nav .menu {
	justify-content: space-around;
	list-style: none;
	margin: 0;

	> li {
		color: var(--base-color);
		text-decoration: none;
		font-weight: bold;
	}

	li a {
		color: var(--base-color);
		text-decoration: none;

		&:hover {
			color: var(--primary-color);
		}
	}

	ul {
		list-style: none;
		margin-left: 0;
		margin-top: 10px;

		li {
			padding: 5px 0;
			font-weight: normal;

			a {
				color: var(--light-gray-color);
				padding: 5px 0;
			}
		}
	}
}

.social-icon-container-mobile,
.btn-mobile {
	display: none;
}

/*************************
* Pricing
*************************/

.pricing {
	padding: 80px 80px 200px;
	border-radius: 25px;
	box-shadow: 15px 15px 30px 0px rgba(0, 0, 0, 0.25);
	position: relative;

	h3.heading-title {
		font-size: 22px;
		font-weight: bold;
		color: var(--primary-color);
	}

	.attendees,
	.included,
	.branded,
	.slider-container {
		margin-bottom: 60px;
	}
}

.included {
	margin: 40px 0;
}

.pricing {
	h2.heading-title {
		font-weight: bold;
	}
	.superevent-icon-list-items {
		columns: 2;
		list-style-type: none;
		margin: 0;
		padding: 0;

		.superevent-icon-list-item {
			&:not(:last-child) {
				padding-bottom: calc(15px / 2);
			}

			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
		}
	}

	.superevent-icon-list-icon {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;

		i {
			color: var(--primary-color);
			color: var(--primary-color);
			width: 1.25em;
			font-size: 22px;
		}
	}

	.superevent-icon-list-text {
		padding-left: 15px;
	}

	.radio {
		.radio-label-img {
			margin-bottom: 40px;
		}

		.radio-label {
			margin: 0 0 20px 20px;
		}

		p {
			margin: 0 0 20px 60px;
		}

		.radio-label b {
			font-size: 22px;
		}
	}

	.total-price {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 40px 80px;
		border-radius: 0 0 25px 25px;
	}

	.price-output {
		justify-content: flex-end;
		align-items: center;
		align-content: center;
	}

	.total-price h3 {
		margin: 0 20px 0 0;
		font-size: 32px;
		color: var(--text-color);
	}

	.price-output .button {
		margin-left: 40px;
	}
}

/*Adds on section*/

.adds-on h2.text-white {
	color: var(--base-color);
	font-size: 32px;
	margin: 30px 0 0 0;
}

.adds-on-options {
	justify-content: space-between;
}

.adds-on {
	.col-50 {
		width: 47%;
		margin-bottom: 60px;
		border-radius: 25px;
		box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.25);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.adds-on-options__header {
		padding: 40px;
		background: var(--light-gray-color);
		text-align: center;
		border-bottom: 1px solid var(--medium-gray-color);
		border-radius: 25px 25px 0 0;

		h3 {
			font-weight: bold;
			margin: 0;
			font-size: 24px;
		}
	}
}

.adds-on-options {
	.adds-on-options__content {
		padding: 40px;
	}

	.adds-on-options__content__item {
		display: flex;
		justify-content: space-between;
		padding: 20px 0 10px;

		ul {
			margin: 0;
			list-style: none;

			> small {
				color: var(--primary-color);
				font-style: italic;
			}
		}

		> {
			:nth-child(1),
			:nth-child(3) {
				flex: 1 1 50px;
			}

			:first-child {
				font-weight: bold;
				color: var(--primary-color);
				font-size: 22px;
			}

			:last-child {
				padding-left: 40px;
				font-weight: bold;
			}
		}
	}

	.adds-on-options__footer {
		padding: 20px 40px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: flex-end;

		h4 {
			font-weight: bold;
			margin: 0;
		}

		small {
			color: var(--primary-color);
			font-style: italic;
		}
	}
}

/*FAQS section*/

.faqs {
	position: relative;
	padding: 200px 0;

	h2.heading-title {
		font-weight: bold;
	}

	.shape {
		z-index: 2;
		pointer-events: none;
		top: -1px;
		overflow: hidden;
		position: absolute;
		left: 0;
		width: 100%;
		line-height: 0;

		svg {
			fill: var(--primary-color);
			display: block;
			width: calc(100% + 1.3px);
			position: relative;
			left: 50%;
			-webkit-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			transform: translateX(-50%);
			height: 90px;
		}
	}

	.faqs-cta {
		margin-bottom: 100px;

		p {
			margin-bottom: 40px;
			padding: 0 100px;
		}
	}

	.col-40,
	.col-60 {
		padding: 20px 100px;
	}

	.col-40 h2 {
		font-size: 36px;
		font-weight: normal;
	}
}

/*FAQS accordion*/

.accordion {
	.accordion-item {
		border-bottom: 1px solid #e5e5e5;

		button[aria-expanded="true"] {
			border-bottom: 1px solid var(--primary-color);
		}
	}

	button {
		position: relative;
		display: block;
		text-align: left;
		width: 100%;
		padding: 1em 0;
		color: var(--text-color);
		font-size: 1.15rem;
		font-weight: 400;
		border: none;
		background: none;
		outline: none;

		&:hover,
		&:focus {
			cursor: pointer;
			color: var(--primary-color);
		}

		&:hover::after,
		&:focus::after {
			cursor: pointer;
			color: var(--primary-color);
			border: 1px solid var(--primary-color);
		}

		.accordion-title {
			padding: 1em 1.5em 1em 0;
		}

		.icon {
			display: inline-block;
			position: absolute;
			top: 18px;
			right: 0;
			width: 22px;
			height: 22px;
			border: 1px solid transparent;
			border-radius: 22px;

			&::after {
				display: block;
				position: absolute;
				content: "";
				top: 6px;
				border-left: 2px solid var(--primary-color);
				border-bottom: 2px solid var(--primary-color);
				width: 10px;
				height: 10px;
				transform: rotate(-45deg);
			}
		}

		&[aria-expanded="true"] {
			color: var(--primary-color);

			.icon::after {
				top: 10px;
				transform: rotate(135deg);
			}

			+ .accordion-content {
				opacity: 1;
				max-height: 12em;
				overflow-y: scroll;
				transition: all 200ms linear;
				will-change: opacity, max-height;
			}
		}
	}

	.accordion-content {
		opacity: 0;
		max-height: 0;
		overflow: hidden;
		transition: opacity 200ms linear, max-height 200ms linear;

		p {
			margin: 2em 0;
		}
	}
}
/******************************************
* BLOG
*****************************************/
.main-post-section {
	margin-bottom: 120px;
	h1.heading-title {
		padding-bottom: 60px;
		font-weight: bold;
	}
	.main-post {
		justify-content: space-between;

		.image-col img {
			height: 380px;
			width: 100%;
			object-fit: cover;
			border-radius: 25px;
			box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
		}
		.info-col {
			padding: 40px 15px 20px 150px;

			h2.heading-title a {
				font-weight: bold;
				text-decoration: none;
			}
		}
	}
}
.new-posts {
	h3.heading-title {
		font-weight: bold;
	}
	.new-post-list {
		justify-content: space-between;
		gap: 30px;

		.new-post-list__item {
			width: 30%;
			flex: 0 1 30%;
			margin-bottom: 60px;

			img {
				height: 280px;
				width: 100%;
				object-fit: cover;
				border-radius: 25px;
				box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
				margin-bottom: 20px;
			}
			.post__terms {
				text-decoration: none;
				font-weight: bold;
				color: var(--primary-color);
				margin-bottom: 5px;
			}
			.post__title a {
				text-decoration: none;
				font-weight: bold;
				color: var(--text-color);

				&:hover {
					color: var(--primary-color);
				}
			}
			.post__excerpt {
				color: var(--gray-color);
			}
		}
	}
}
/*Section Banner CTA*/

.blog-cta {
	position: relative;
	background: url("../images/bg-banner-start-free-1.jpg") no-repeat center center;
	background-size: cover;
	padding: 40px 80px;
	border-radius: 25px;
	margin-bottom: 100px;

	.background-overlay {
		border-radius: 25px;
		background-color: transparent;
		background-image: linear-gradient(-90deg, #2190ed 30%, #2190ed69 100%);
		opacity: 1;
		transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
	}

	.col-50 {
		position: relative;
		padding: 20px 120px 20px 20px;

		h2,
		p,
		small {
			color: var(--base-color);
		}
		h2 {
			font-weight: bold;
		}

		p {
			line-height: 1.8em;
		}
	}
}
/******************************************
* BLOG single
*****************************************/
.post-section {
	width: 98%;
	max-width: 850px;
	margin: 0 auto;

	.featured__image {
		margin-bottom: 20px;
		img {
			height: 450px;
			width: 100%;
			object-fit: cover;
			border-radius: 25px;
		}
	}

	.post__data {
		h1.post__title {
			font-size: 36px;
			font-weight: bold;
			color: var(--primary-color);
		}

		.post__meta {
			justify-content: space-between;
			.post__author {
				display: flex;
				& > * {
					margin-right: 10px;
				}
			}
			.post__read i {
				margin-right: 10px;
			}
		}
	}
	.post__content {
		padding: 30px 0 80px;

		p {
			line-height: 1.8em;
		}
	}
}

@media (max-width: 992px) {
	.main-navigation ul ul {
		border-bottom: 5px solid transparent;
	}

	.col-20,
	.col-25,
	.col-30,
	.col-33,
	.col-40,
	.col-50,
	.col-60,
	.col-67,
	.col-70 {
		width: 100%;
	}

	.main-navigation .menu-toggle,
	.sidebar-nav-mobile:not(#sticky-placeholder) {
		display: block;
	}

	.main-navigation ul,
	.gen-sidebar-nav,
	.main-navigation:not(.slideout-navigation):not(.toggled) .main-nav > ul,
	.has-inline-mobile-toggle #site-navigation .inside-navigation > *:not(.navigation-search):not(.main-nav) {
		display: none;
	}

	.nav-align-right .inside-navigation,
	.nav-align-center .inside-navigation {
		justify-content: space-between;
	}

	.has-inline-mobile-toggle {
		.mobile-menu-control-wrapper {
			display: flex;
			flex-wrap: wrap;
		}

		.inside-header {
			flex-direction: row;
			text-align: left;
			flex-wrap: wrap;
		}

		.header-widget,
		#site-navigation {
			flex-basis: 100%;
		}
	}

	.nav-float-left .has-inline-mobile-toggle #site-navigation {
		order: 10;
	}

	.demo-button,
	.event-button {
		margin: 15px 0px 10px;
	}

	.demo-button a,
	.event-button a {
		text-align: center;
	}

	.jet-form__submit {
		width: 100%;
	}

	p.superevent-image-box-description {
		display: none;
	}

	h5.superevent-image-box-title {
		margin-bottom: 0;
	}

	.attendes .superevent-background-overlay {
		background-image: linear-gradient(180deg, #2190ed 30%, #2190ed00 100%);
	}

	.subscribe-section .superevent-background-overlay {
		background-image: linear-gradient(180deg, #2b3547 37%, #2b354799 100%);
	}

	.superevent-button-link {
		width: 100%;
	}

	.justify-between .superevent-widget-wrap.superevent-element-populated {
		justify-content: space-between;
	}

	.mobile-bar-items {
		display: block;
	}

	.menu-bar-item.slideout-toggle {
		display: none;
	}

	/*Hero sectionr*/

	.hero-section {
		.info-col,
		.hero-image-col {
			align-items: center;
			text-align: center;
			padding: 40px;
		}

		.info-col {
			h1 {
				font-size: 32px;
				text-align: center;
			}

			p {
				mtext-align: center;
			}

			.button {
				display: block;
				text-align: center;
			}
		}
	}

	/*line 1*/

	h1.professional-events::after {
		width: 320px;
		top: 45px;
		left: auto;
		right: 25%;
	}

	.featured-items-container .featured-items-list .featured-items-list-item {
		width: 50%;
		justify-content: space-around;
	}

	.brands-list .brands-list__item {
		width: 33%;
		text-align: center;
		padding: 20px;
	}

	/*Section Solutions*/

	.solutions {
		padding: 80px 0;

		.col-40,
		.col-50 {
			padding: 40px;
			text-align: center;
			align-items: center;
			justify-content: center;
		}
	}

	.left-info-col {
		padding: 10px 120px 10px 10px;
	}

	.right-info-col {
		padding: 10px 10px 10px 120px;
		order: 1;
	}

	.image-col {
		order: 2;
	}

	.left-info-col h3,
	.right-info-col h3 {
		display: block;
		text-align: center;
	}

	/*Section Choose us*/

	.choose-us .icon-box-wrapper {
		width: 100%;
		padding: 40px;
	}

	/*Section Organizers*/

	.organizers {
		.shape svg {
			fill: var(--accent-color);
			display: block;
			width: calc(100% + 1.3px);
			position: relative;
			left: 50%;
			-webkit-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			transform: translateX(-50%);
			height: 70px;
		}

		h2,
		p {
			text-align: center;
			width: 100%;
		}

		.col-50 {
			padding: 40px;
			display: flex;
			justify-content: center;
		}
	}

	/*Section testimonials*/

	.testimonials .testimonials-wrapper {
		justify-content: center;

		.testimonial-box {
			width: 100%;
			text-align: center;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin: 40px 80px;
		}

		.quotation {
			position: absolute;
			left: -25px;
			top: -25px;
		}
	}

	/*Section Case study*/

	.case-study {
		max-width: 98%;
		flex-wrap: wrap;

		.background-overlay {
			background-image: linear-gradient(180deg, #0b254f 0%, #0b254f00 100%);
		}

		h5.heading-title {
			position: absolute;
			padding: 15px 25px 15px 25px;
			background-color: #2190ed;
			border-radius: 6px 6px 6px 6px;
			color: var(--base-color);
			display: inline-block;
			top: -125px;
			left: 40px;
		}

		.col-50 {
			padding: 40px;
		}
	}

	/*Section Supporting events*/

	.supporting {
		.supporting-list {
			padding: 10px;
			order: 2;

			.superevent-image-box-wrapper {
				width: 43%;
			}
		}

		.right-col-info {
			padding: 40px;
			justify-content: center;
			order: 1;
		}

		p {
			text-align: center;
		}
	}

	/*Section Banner CTA*/

	.banner-cta {
		padding: 40px;

		.background-overlay {
			background-image: linear-gradient(180deg, #2190ed 30%, #2190ed69 100%);
		}

		.col-50 {
			position: relative;
			display: flex;
			flex-wrap: wrap;
			padding: 60px;

			.superevent-button {
				display: inline-block;
			}
		}

		h2,
		p,
		.testimonial-job {
			color: var(--base-color);
		}

		h2 {
			font-weight: bold;
		}
	}

	/*Partners*/

	.brands-list {
		margin: 0;
	}

	/*Subscribe section*/

	.subscribe-section {
		max-width: 98%;
		padding: 120px 80px;

		.background-overlay {
			background-image: linear-gradient(180deg, #2b3547 37%, #2b354799 100%);
		}
	}

	/*Footer*/

	.site-footer {
		padding: 40px;
	}

	.social-icon-container-desktop,
	.site-footer h3,
	.btn-desktop {
		display: none;
	}

	.social-icon-container-mobile,
	.btn-mobile {
		display: inline-flex;
	}

	.footer-cta {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	/************************
  * PRICING
  *************************/

	.pricing {
		width: 98%;
	}

	.radio .radio-label-img img {
		width: 100%;
	}

	.total-price .col-50 {
		width: 50%;
	}

	.adds-on-options {
		justify-content: center;
	}

	.adds-on .col-50 {
		width: 98%;
	}
	/******************************************
	* BLOG
	*****************************************/
	.blog {
		width: 98%;
		margin: 0 auto;
	}
	.main-post-section {
		.main-post {
			.image-col {
				order: 1;
			}
			.info-col {
				order: 2;
				padding: 40px;
			}
		}
	}
	.new-posts {
		.new-post-list {
			.new-post-list__item {
				width: 46%;
				flex: 0 1 46%;
			}
		}
	}
	.blog-cta {
		width: 98%;
		.background-overlay {
			background-image: linear-gradient(180deg, #2190ed 30%, #2190ed69 100%);
		}
	}
}

@media (max-width: 768px) {
	.visible-desktop {
		display: none;
	}

	.visible-mobile {
		display: block;
	}

	.container-full {
		padding: 40px 0;
	}

	.button {
		margin: 0 0 15px 0;
	}
	.main-navigation .button {
		margin: 0;
	}

	.hero-section {
		padding: 20px 0;

		.info-col h1 {
			font-size: 28px;
		}
	}

	/*line 1*/

	h1.professional-events::after {
		width: 270px;
		top: 45px;
		left: 58%;
		right: 0;
		transform: translateX(-50%);
	}

	.featured-items-container .featured-items-list .featured-items-list-item {
		padding: 10px;
		font-size: 17px;
	}

	.hero-section {
		.info-col,
		.image-col {
			padding: 15px;
		}
	}

	.solutions {
		padding: 30px 0;

		.col-40,
		.col-50 {
			padding: 15px;
		}
	}

	/*Chose us list*/

	.choose-us h2 {
		font-size: 28px;
	}

	b.choose-us::after {
		width: 150px;
		height: 100%;
		top: 20px;
		right: -5px;
	}

	.organizers .shape svg {
		height: 40px;
	}

	h2.heading-title {
		font-size: 28px;
		text-align: center;
	}

	.testimonials {
		padding: 40px 0;
	}

	.case-study {
		padding: 0;
		margin-bottom: 80px;

		h5.heading-title {
			top: -30px;
			left: 40px;
		}

		h2,
		p {
			text-align: center;
		}

		h2 {
			font-size: 28px;
		}

		.col-50 {
			justify-content: center;
		}

		.button {
			position: relative;
			display: block;
			text-align: center;
		}
	}

	.testimonial-meta-inner {
		justify-content: center;
	}

	/*Suporting event*/

	.supporting {
		h2 {
			text-align: center;
		}

		.supporting-list {
			justify-content: center;

			.superevent-image-box-wrapper {
				display: flex;
				width: 41%;
				margin: 15px;
				padding: 20px;
			}
		}
	}

	/*CTA Banner*/

	.banner-cta {
		.col-50 {
			padding: 20px;
		}

		h2 {
			font-size: 28px;
			text-align: center;
		}

		.button {
			display: block;
			width: 100%;
			text-align: center;
		}
	}

	/*Subscribe section*/

	.subscribe-section {
		padding: 40px;

		p {
			text-align: center;
		}

		.subscribe-form {
			.input-container,
			.submit-container {
				max-width: 100%;
				width: 100%;
				flex: 0 0 100%;
				padding: 0;
				margin-bottom: 10px;
			}
		}
	}

	/*Footer*/

	.site-footer {
		.main-nav .menu {
			justify-content: space-between;
		}

		padding: 40px 10px;
	}

	/************************
  * PRICING
  *************************/

	.pricing {
		padding: 40px 15px 100px;

		h1 {
			font-size: 32px;
		}

		h2.heading-title {
			font-size: 22px;
		}

		.superevent-icon-list-items {
			columns: 1;
		}

		.total-price {
			padding: 20px;
		}
	}

	.total-price .col-50 {
		width: 100%;
		padding: 20px 0;
		display: flex;
		justify-content: space-between;
	}

	.pricing .price-output {
		display: flex;
		justify-content: space-between;

		.button {
			margin-left: 0;
			display: block;
			width: 100%;
			text-align: center;
		}
	}

	.adds-on-options .adds-on-options__content__item {
		align-items: center;
		flex-direction: column;

		> {
			* {
				line-height: 2;
			}

			:last-child {
				padding-left: 0;
			}
		}

		ul {
			margin: 0;
			list-style: none;
			text-align: center;
		}
	}

	.faqs {
		position: relative;
		padding: 100px 0;

		.shape svg {
			height: 40px;
		}

		.faqs-cta {
			p {
				margin-bottom: 40px;
				padding: 20px;
			}

			.button {
				width: 95%;
			}
		}

		.col-40,
		.col-60 {
			padding: 20px;
		}
	}
	/******************************************
* BLOG
*****************************************/
	.main-post-section {
		h1.heading-title {
			padding-bottom: 40px;
			font-size: 28px;
		}
		.main-post {
			.image-col img {
				height: 300px;
			}
			.info-col {
				padding: 20px;
				h2.heading-title {
					text-align: left;
					font-size: 24px;
				}
			}
		}
	}
	.new-posts {
		h3.heading-title {
			font-weight: bold;
			text-align: center;
			margin-bottom: 40px;
		}
		.new-post-list {
			.new-post-list__item {
				width: 100%;
				flex: 0 1 100%;

				img {
					height: 250px;
				}

				.post__title {
					font-size: 22px;
				}
			}
		}
	}
	/*Section Banner CTA*/

	.blog-cta {
		position: relative;
		padding: 20px;

		.col-50 {
			position: relative;
			padding: 20px;

			h2,
			p,
			small {
				text-align: center;
			}

			.button {
				width: 100%;
				text-align: center;
			}
		}
	}
	/******************************************
* BLOG single
*****************************************/
	.post-section {
		.featured__image {
			img {
				height: 300px;
			}
		}

		.post__data {
			padding: 0 15px;
			h1.post__title {
				font-size: 28px;
			}

			.post__meta {
				justify-content: space-between;
				.post__author {
					p {
						font-size: 15px;
					}
				}
			}
		}
		.post__content {
			padding: 20px 15px 40px;
		}
	}
}
